
@{
    ViewBag.Title = "Manage Shipper";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Tìm Kiếm</h3>
    </div>
    <div class="input-group margin" style="padding-bottom: 10px">
        <input type="text" class="form-control">
        <span class="input-group-btn">
            <button type="button" class="btn btn-info btn-flat">Go!</button>
        </span>
    </div>
</div>
<div class="container-fluid row">
    <div class="col-lg-6">
        There are 1000
    </div>
    <div class="col-lg-6 text-right" style="padding-bottom:10px">
        <div class="btn-group">
            <a href="~/Shipper/input" class="btn btn-primary">Add Shipper</a>
            <a href="~/Shipper/input" class="btn btn-info">Edit Shipper</a>
            <a href="~/Shipper" class="btn btn-warning">Delete Shipper</a>
        </div>
    </div>
</div>
<div class="box box-success">
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" />
                    </th>
                    <th>#</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Acction</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i <= 4; i++)
                {
                    <tr>
                        <th>
                            <input type="checkbox" />
                        </th>
                        <td>1</td>
                        <td style="color:#00ff90; font-weight:bold"> New Orleans Cajun Delights</td>
                        <td><i class="fa fa-phone"></i> (100)555-4822</td>
                        <td>
                            <a style="color:#ffd800; font-weight:bold; display: block; font-size:large; padding-top:inherit " href="~/Shipper/Input/@i"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>